VITE_SUPABASE_URL=https://ynhpevfxvtmpfosiclxe.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_fWZifu-gC53YE2S1W4-s-w_jre6mOnz
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
VITE_OTEL_COLLECTOR_URL=http://localhost:4318/v1/traces
HUGGINGFACE_ACCESS_TOKEN=your_huggingface_access_token_here
